{% extends "base.html" %}

{% block start %}


<section>
    <div class="container">
       
        <div class="row text-center">
            <div class="col-xl-10 mx-auto"><img class="img-fluid mb-5"
                    src="/media/{{blog_obj.image}}"
                    alt=""></div>
        </div>
        {% if blog_obj.category %}
        <a href="{% url 'category' blog_obj.category.slug %}" class="text-decoration-none">
            <h4 class="text-muted">{{blog_obj.category}}</h4>
        </a>
        {% endif %}
        
        
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content">
                    {{blog_obj.content|safe}}
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock %}