<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Medula</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/media/assets/img/favicon.png" rel="icon">
  <link href="/media/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/media/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/media/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/media/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/media/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/media/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/media/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Append
  * Updated: Jun 20 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/append-bootstrap-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="/media/assets/img/logo.png" alt=""> -->
        <h1>Medula</h1>
        <span>.</span>
      </a>

      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="index.html#hero" class="active">Home</a></li>
          <li><a href="{% url 'services' %}">Services</a></li>
          
          
          <li><a href="{% url 'home' %}">Blog</a></li>
        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->

      <a class="btn-getstarted" href="index.html#about">Get Started</a>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- Hero Section - Home Page -->
    <section id="hero" class="hero">

      <img src="/media/assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

      <div class="container">
        <div class="row">
          <div class="col-lg-10">
            <h2 data-aos="fade-up" data-aos-delay="100">
              Welcome to MedulaTech :Unlocking the Potential of Technology for Your Business</h2>
            <p data-aos="fade-up" data-aos-delay="200">Are you looking to take your business to new heights? Do you want to stay ahead of the competition in this fast-paced digital world? Look no further! Our professional IT consulting services are here to help you navigate the ever-changing technological landscape and achieve your business goals.</p>
          </div>
          <div class="col-lg-5">
            <form action="#" class="sign-up-form d-flex" data-aos="fade-up" data-aos-delay="300">
              <input type="text" class="form-control" placeholder="Enter email address">
              <input type="submit" class="btn btn-primary" value="Sign up">
            </form>
          </div>
        </div>
      </div>

    </section><!-- End Hero Section -->

    {% block start %}


    {% endblock %}
   



    <!-- Call-to-action Section - Home Page -->
    <section id="call-to-action" class="call-to-action">

      <img src="/media/assets/img/cta-bg.jpg" alt="">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>Our Collaborative Approach</h3>
              <p>What sets our team apart is our collaborative approach. We believe in working closely with our clients, understanding their unique business requirements, and fostering strong partnerships. Our IT consulting team combines their individual expertise to provide comprehensive solutions that address the specific needs of each client. We are committed to delivering exceptional service, exceeding expectations, and driving tangible results.

                When you choose [Your Company Name], you can rest assured that you are partnering with a team of experts who are passionate about your success. We work diligently to stay at the forefront of technology trends, ensuring that we provide you with the best strategies and solutions for your business.</p>
              <a class="cta-btn" href="#">Call To Action</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End Call-to-action Section -->




    <!-- Contact Section - Home Page -->
    <section id="contact" class="contact">

      <!--  Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>For Growth of your Company</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="200">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>Uttarakhand</p>
                  <p>Khatima</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="300">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>9368830459</p>
                  <p>8630149455</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="400">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>rahulpandey20120@gmail.com</p>
                 
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="500">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>Monday - Friday</p>
                  <p>9:00AM - 05:00PM</p>
                </div>
              </div><!-- End Info Item -->

            </div>

          </div>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>Medula</span>
          </a>
          <p>Are you looking to take your educational institution or training program to new heights? Look no further! At Medula, we specialize in social media marketing for educational institutions and training programs. With our tailored strategies and expertise in the education industry, we can help you unlock the full potential of social media and achieve your marketing goals.</p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="{% url 'main' %}">Web Design</a></li>
            <li><a href="{% url 'main' %}">Web Development</a></li>
            <li><a href="{% url 'smma' %}">Product Management</a></li>
            <li><a href="{% url 'smma' %}">Marketing</a></li>
            <li><a href="{% url 'main' %}">Graphic Design</a></li>
            <li><a href="{% url 'main' %}">Artifical Intelligence</a></li>
            <li><a href="{% url 'main' %}">Machine learning</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>Khatima</p>
          <p>Uttarakhand,U.S Nagar</p>
          <p>India</p>
          <p class="mt-4"><strong>Phone:</strong> <span>9368830459</span></p>
          <p><strong>Email:</strong> <span>Developerarea99@gmail.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>&copy; <span>Copyright</span> <strong class="px-1">Medula</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
      </div>
    </div>

  </footer><!-- End Footer -->

  <!-- Scroll Top Button -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="/media/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/media/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/media/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/media/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/media/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/media/assets/vendor/aos/aos.js"></script>
  <script src="/media/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/media/assets/js/main.js"></script>

</body>

</html>